@model IEnumerable<MaisTransporteWeb.Models.ViagemViewModel>

@{
    ViewData["Title"] = "Lista de Viagens";
}

<h1>Lista de Viagens</h1>

<p>
    <a asp-action="Create">Nova Viagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalOrigem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocalDestino)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorPassagem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalVagas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataChegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioPartida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioChegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalOrigem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalDestino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorPassagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalVagas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataChegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioPartida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioChegada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Detalhes", new { id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
