@model IEnumerable<MaisTransporteWeb.Models.ViagemViewModel>

@{
    ViewData["Title"] = "Viagens Disponíveis";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h3>Viagens Disponíveis</h3>
    <hr />
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 w3-row">
            <div class="w3-col w3-container" id="campoImg">
                <img id="imgViagem" src="./assets/images/post_festa.png" alt="Viagem">
            </div>
            <div class="w3-col w3-container w3-right-align" id="dadosViagem">
                <h5>@Html.DisplayNameFor(model => model.Titulo): @Html.DisplayFor(modelItem => item.Titulo)</h5>
                <h6>@Html.DisplayNameFor(model => model.DataPartida): @Html.DisplayFor(modelItem => item.DataPartida)</h6>
                <h6>@Html.DisplayNameFor(model => model.TotalVagas): @Html.DisplayFor(modelItem => item.TotalVagas)</h6>
                <button type="button" class="btn btn-success" onclick="alert('Reservar vaga nessa viagem?')">Reservar vaga</button>
                <p>
                    @Html.ActionLink("Mais detalhes", "Details", new { id=item.Id})
                </p>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <br />
}
<div class="row" id="buttonMargin">
    <div class="col-3"></div>
    <div class="col-6 btn btn-success">
        <a asp-action="Create" class="btn btn-success">NOVA VIAGEM</a>
    </div>
    <div class="col-3"></div>
</div>
