@model IEnumerable<MaisTransporteWeb.Models.ViagemViewModel>

@{
    ViewData["Title"] = "Lista de Viagens Disponíveis";
}
<div class="text-center">
    <h3>Lista de Viagens Disponíveis</h3>
</div>

<p>
    <a asp-action="Create">Nova Viagem</a>
</p>

@foreach (var item in Model)
{
    <div class="w3-row">
        <div class="w3-col w3-green w3-container" style="width:45%">
            <img src="images/img-01.1.png" alt="Nome da img">
        </div>
        <div class="w3-col w3-dark-grey w3-container" style="width:55%">
            <h5>@Html.DisplayNameFor(model => model.Titulo): @Html.DisplayFor(modelItem => item.Titulo)</h5>
            <h6>@Html.DisplayNameFor(model => model.DataPartida): @Html.DisplayFor(modelItem => item.DataPartida)</h6>
            <h6>@Html.DisplayNameFor(model => model.TotalVagas): @Html.DisplayFor(modelItem => item.TotalVagas)</h6>
            <button type="button" class="btn btn-dark" onclick="alert('Reservar vaga nessa viagem?')">Reservar vaga</button>
            <p>
                @Html.ActionLink("Mais detalhes", "Details", new { id=item.Id})
            </p>            
        </div>
    </div>
    <hr>
}
