@model IEnumerable<MaisTransporteWeb.Models.UsuarioViewModel>

@{
    ViewData["Title"] = "Criar Usuário";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h3>Usuario</h3>
    <hr />
</div>
<div class="col-2 btn btn-success">
    <a style="text-decoration: none" asp-action="Create">CRIAR</a>
</div>


<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th></th>
            </tr>

        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        <button type="button" class="btn btnEditColor" onclick="alert('Editar Usuário?')">@Html.ActionLink("Editar", "Edit", new { id=item.Id })</button>
                        <button type="button" class="btn btnColor btn-info">@Html.ActionLink("Detalhes", "Details", new { id=item.Id })</button>
                        <button type="button" class="btn btn-danger">@Html.ActionLink("Excluir", "Delete", new { id=item.Id })</button>

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

