@model MaisTransporteWeb.Models.SugerirViagemViewModel

@{
    ViewData["Title"] = "Detalhes da Sugestão de Viagem";
}
<div class="w3-row w3-center">
    <h4>Detalhes da Sugestão de Viagem</h4>
    <hr/>
</div>

<div class="w3-row w3-center">
    <div class="w3-border">
        <dl class="w3-row">
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.LocalOrigem)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.LocalOrigem)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.LocalDestino)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.LocalDestino)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.ValorPassagem)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.ValorPassagem)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.TotalVagas)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.TotalVagas)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.DataPartida)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.DataPartida)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.DataChegada)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.DataChegada)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.Visibilidade)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.Visibilidade)
            </dd>
            <dt class="w3-right-align" style="width:45%">
                @Html.DisplayNameFor(model => model.IdPassageiro)
            </dt>
            <dd class="w3-left-align" style="width:55%">
                @Html.DisplayFor(model => model.IdPassageiro)
            </dd>
        </dl>

        <div class="w3-row">
            <div class="w3-col w3-container w3-right-align" style="width:45%">
                <button type="button" class="btn btn-dark"><a asp-action="Index">Voltar</a></button>
            </div>

            <div class="w3-col w3-container w3-left-align" style="width:55%">
                <button type="button" class="btn btn-dark" onclick="alert('Aceitar a viagem?')">Aceitar</button>
            </div>
        </div>
    </div>
    
</div>
