@model MaisTransporteWeb.Models.SugerirViagemViewModel
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

@{
    ViewData["Title"] = "Detalhes da Sugestão de Viagem";
}

<div class="text-center">
    <h4>Detalhes da Sugestão de Viagem</h4>
    <hr/>
</div>

<div class="w3-row w3-center">
    <div class="w3-border">
        <br/>
        <dl class="row">
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.LocalOrigem)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.LocalOrigem)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.LocalDestino)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.LocalDestino)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.ValorPassagem)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.ValorPassagem)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.TotalVagas)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.TotalVagas)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.DataPartida)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.DataPartida)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.DataChegada)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.DataChegada)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.Visibilidade)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.VisibilidadeDisplay)
            </dd>
            <dt class="w3-right-align" style="width:50%">
                @Html.DisplayNameFor(model => model.IdPassageiro)
            </dt>
            <dd class="w3-left-align" style="width:50%">
                @Html.DisplayFor(model => model.IdPassageiro)
            </dd>
        </dl>
    </div>
    <div class="row justify-content-around" id="buttonMargin">
        <div class="col-6 w3-right-align">
            <a asp-action="Index" class="btn btn-danger">CANCELAR</a>
        </div>
        <div class="col-6 w3-left-align">
            <form asp-action="AceitarViagem" asp-controller="SugerirViagem" method="post" onsubmit="confirmarAceitarViagem(event)">
                <input type="hidden" name="id" value="@Model.Id" />
                <button type="submit" class="btn btn-success">ACEITAR VIAGEM</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function confirmarAceitarViagem(event) {
        if (!confirm("Você realmente deseja aceitar esta viagem?")) {
            event.preventDefault(); // Cancela a submissão do formulário
        }
    }
</script>