@model MaisTransporteWeb.Models.SugerirViagemViewModel

@{
    ViewData["Title"] = "Detalhes da Sugestão de Viagem";
}

<h1>Detalhes da Sugestão de Viagem</h1>

<div>
    <h4>Sugerir Viagem</h4>
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalOrigem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalOrigem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocalDestino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocalDestino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorPassagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorPassagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalVagas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalVagas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioPartida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioPartida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioChegada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HorarioChegada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
