@model IEnumerable<MaisTransporteWeb.Models.SugerirViagemViewModel>

@{
    ViewData["Title"] = "Viagens Sugeridas";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h3>Viagens Sugeridas</h3>
    <hr/>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 w3-row">
            <div class="w3-col w3-container" id="campoImg">
                <img id="imgSugestaoViagem" src="https://s3-alpha-sig.figma.com/img/4a31/9264/8d367380234d052515898600fa1b5c82?Expires=1696809600&Signature=FD5ZSU3U0Ind3J7N7niM3KJRdQRdrq3cYTjkyPMLgp7L0aa5sEOSM~-GH2dXrHsCIZJoRHtFMC0cPs2hwREOahaewg8hbpRjiPhga70XPzYhELl30FbZxuMB-qJQHRviUtC8T6C8fQyNE95PEcyTSY7o~AHvsDYZEAeydBgTeXeX-dqsW9By-WByTSZEKz1OvuYivoFA5EUhIJJtk3LW3cFR6IGWG3UdvrI7mk8P2ySQWjBGtFBgGxgWNrjZtRVb1P06jF6JxRO4IMEpOQM6GzmAwA65czkTUUE4zmsbEHCwm1Nwk3ie6oCE16IacC6Fv9Nw2GgLTaYrpaYpsPJnrg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt="Sugestão de Viagem">
            </div>
            <div class="w3-col w3-container w3-right-align" id="dadosSugestaoViagem">
            <h5>@Html.DisplayNameFor(model => model.Titulo): @Html.DisplayFor(modelItem => item.Titulo)</h5>
            <h6>@Html.DisplayNameFor(model => model.DataPartida): @Html.DisplayFor(modelItem => item.DataPartida)</h6>
            <h6>@Html.DisplayNameFor(model => model.TotalVagas): @Html.DisplayFor(modelItem => item.TotalVagas)</h6>
            <button type="button" class="btn btn-success" onclick="alert('Aceitar a viagem?')">Aceitar Viagem</button>
            <p>
                @Html.ActionLink("Mais detalhes", "Details", new { id=item.Id})
            </p>
        </div>
    </div>
    <div class="col-md-2"></div>
    </div>
    <br>
}
<div class="row" id="buttonMargin">
    <div class="col-3"></div>
    <div class="col-6 btn btn-success">
        <a asp-action="Create" class="btn btn-success">NOVA SUGESTÃO DE VIAGEM</a>
    </div>
    <div class="col-3"></div>
</div>
