@model IEnumerable<MaisTransporteWeb.Models.VeiculoViewModel>
<link rel="stylesheet" type="text/css" href="~/lib/datatable/css/dataTables.min.css" />

@{
    ViewData["Title"] = "Listagem de Veículos";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h3>Veículos</h3>
    <hr />
</div>

<div class="row" id="buttonMargin">
    <div class="col-3"></div>
    <div class="col-6 btn btn-success">
        <a asp-action="Create" class="btn btn-success">NOVO VEÍCULO</a>
    </div>
    <div class="col-3"></div>
</div>

<div class="table-responsive">
<table id="tableVeiculo" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renavam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expedidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMotoristaPassageiro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renavam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expedidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMotoristaPassageiro)
            </td>
            <td>
                    <button type="button" class="btn btnEditColor" onclick="alert('Editar Veículo?')">@Html.ActionLink("Editar", "Edit", new { id=item.Id })</button>
                    <button type="button"  class="btn btnColor btn-info">@Html.ActionLink("Detalhes", "Details", new { id=item.Id })</button>
                
            </td>
        </tr>
}
    </tbody>
</table>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tableVeiculo').DataTable({
                language: {
                    url: 'lib/datatable/js/pt-BR.json'
                }
            });
        });
    </script>
    <script src="~/lib/datatable/js/dataTables.min.js"></script>
}