@model IEnumerable<MaisTransporteWeb.Models.VeiculoViewModel>

@{
    ViewData["Title"] = "Listagem de Veículos";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<h1>Listagem de Veículo</h1>

<div class="col-2 btn btn-success">
    <a style="text-decoration: none" asp-action="Create">NOVO VEÍCULO</a>
</div>
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renavam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEmissao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expedidor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMotoristaPassageiro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Renavam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEmissao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expedidor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMotoristaPassageiro)
            </td>
            <td>
                    <button type="button" class="btn btnEditColor" onclick="alert('Editar Veículo?')">@Html.ActionLink("Editar", "Edit", new { id=item.Id })</button>
                    <button type="button"  class="btn btn-info">@Html.ActionLink("Detalhes", "Details", new { id=item.Id })</button>
                
            </td>
        </tr>
}
    </tbody>
</table>
</div>